
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


                         /* >>>>>   MAIN   <<<<< */

.container-logo {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 550px;
  margin-top: 0px;
  margin-bottom: 20px;
  

}

.container-compre-online {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  justify-content: center;
  align-items: center;
  height: 620px;
}

.foto-compra-online {
  width: 40%;
  height: 75%;
  margin-top: 15px;
}

.container-clube-chef {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 620px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.foto-prato {
  width: 25%;
  height: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
}

p {
  font-family: Montserrat;
  font-size: 2em;
  color: #593527;
  text-align: center;
  text-decoration: none;
  
}

.fonte-2 {
  font-family: Montserrat;
  font-size: 40px;
  color: #592411;
  text-align: center;
  margin-top: 40px;
}




/*   Daqui para baixo = Código da Clarice */

/*header*/

  h2 {   
    padding: 8px;
    text-decoration: none;
  }
  
  /* .general-container {
    display: flex;
    flex-direction: column;
    height: 93vh;
  } */
  
  header {
    display: flex;
    background-color: #8C675A;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    height: 60px;
  }
  
  .icone {
    width: 3em;
    margin-right: 12px;
  }
  
  .icone-e-texto { 
    display: flex;
    align-items: center;
  }
  nav{
   display: flex;
  margin-left: 50px;
  
  }

/*footer*/
  footer {
    background-color: #8C675A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    height: 60px;
   
  }

  a{ text-decoration: none;
    color:black;
  }

  .banner-peq-chef, .banner-peq-entrega, .banner-peq-natural {
    justify-content: center;
    align-items: center;
    
  } 
  
  
  
  
  
    /* --------------------  MEDIA QUERY - Responsividade  ----------------------- */
  
    @media screen and (min-device-width : 320px) and (max-device-width : 480px) {
      /* celulares */
        
          .banner-chef {
            display: none;
          }

          header {
            display: flex;
            background-color: #8C675A;
            align-items: center;
            justify-content: space-evenly;
            padding: 0;
            height: 60px;
          }
          
          nav {
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            margin: 0px
            
          }

          .icone-e-texto {
            display: none;
          }

          footer {
            
            text-align: center;
                  }          
            
          .foto-compra-online {
             width: 100%;
             height: 55%;
             margin-top: 30px;
             margin-bottom: 30px;
                  }

          .foto-prato {
            width: 100%;
            height: 35%;
            margin-top: 25px;
            margin-bottom: 25px;
}
          .container-compre-online {
            height: 900px;
}
          .container-clube-chef {
            height: 900px;
          }


          
      }
  
      @media screen and (min-device-width : 481px) and (max-device-width : 800px) {
      /* tablets */
        .banner-chef {
          display: none;
      }
      }
  
      @media screen and (min-device-width : 1280px) {
      /* computadores */
        .banner-peq-chef  {
          display: none;
        }
  
        .banner-peq-entrega {
          display: none;
        }
  
        .banner-peq-natural {
          display: none;
        }
  
  
      }
  


