
/* PROBLEMAS IDENTIFICADOS ... TEMOS DUAS TAGS IGUAIS <p> ... Eu não criei um General Container e a Clarice criou */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


                         /* >>>>>   MAIN   <<<<< */

.container-logo {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
  

}

.container-compre-online {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  justify-content: center;
  align-items: center;
  height: 620px;
}

.foto-compra-online {
  width: 40%;
  height: 75%;
  margin-top: 15px;
}

.container-clube-chef {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 620px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.foto-prato {
  width: 25%;
  height: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
}

p {
  font-family: Montserrat;
  font-size: 2em;
  color: #593527;
  text-align: center;
  
}

.fonte-2 {
  font-family: Montserrat;
  font-size: 40px;
  color: #592411;
  text-align: center;
  margin-top: 40px;
}




/*   Daqui para baixo = Código da Clarice */

/*header*/

  h2, p {
    padding: 8px;
  }
  
  .general-container {
    display: flex;
    flex-direction: column;
    height: 93vh;
  }
  
  header {
    display: flex;
    background-color: #8C675A;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    height: 60px;
  }
  
  .icone {
    width: 3em;
    margin-right: 12px;
  }
  
  .icone-e-texto { 
    display: flex;
    align-items: center;
  }
  nav{
   display: flex;
  margin-left: 50px;
  
  }

/*footer*/
  footer {
    background-color: #8C675A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
  }

